body {
    margin: 0px;
    padding: 0px;
}

label {
    color: red;
}

.titre-page {
    text-align: center;
    color: blue;
}

.kikou {
    font-size: 50px;
    color: white;
    text-shadow: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.image {
    border-radius: 15px;
}

.test2 {
    width: 100px;
    border: 1px solid red;
    display: inline-block;
}

body {
    Background-image: Linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%), Linear-gradient(127deg, black, black 70.71%), Linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
    background-repeat: no-repeat;
    
}

.cover {
    height: 511px;
    background-image: url("../img/5.png");
    text-shadow: 3px 3px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    margin-top: -40px;
}

ul {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: white;
    text-decoration: none;
}

.navbar {
    background-color: transparent !important;
    border-color: transparent !important;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

ul li a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

ul li a:hover {
    color: red;
}

#logo {
    margin-left: -150px;
    height: 50px;
    width: 50px;
}

.image {
    margin-top: -40px;
    width: 100%;
    height: 900px;
}

.reg {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}
.photo{   
    justify-content: space-around; 
    display: flex;
}
.view{
    color:blue;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    text-decoration: none;

}
.view:hover{
    color:  #337ab7;
    text-decoration: underline;
    font-weight: 500;
}
.more{
    color: white;
    font-size: 36px;
}
.ahri{
    padding: 40px;
}